.feature {
    background: #fff;
    padding: 90px 0;
    @media (max-width: 767px) {
        padding: 60px 0;
    }
    .container-inner {
        margin-bottom: 75px;
        @media (max-width: 767px) {
            margin-bottom: 50px;
        }
        .feature-img__container {
            width: 400px;
            @media (max-width: 991px) {
                width: 350px;
                margin-bottom: 30px;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}

.feature-content__container {
    max-width: 330px;
    color: $dark-grey;
    text-transform: uppercase;
    @media (max-width: 767px) {
        text-align: center;
        margin: auto;
    }
    h6 {
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }
    .heading-xl {
        @extend h6;
    }
    .text-lg {
        line-height: 30px;
        color: $light-bluey-grey;
        text-transform: none;
        @extend h6;
    }
    a {
        color: $primary-green;
        display: inline-block;
        vertical-align: middle;
        transition: 0.3s;
        text-transform: uppercase;
        &:hover {
            margin-right: 15px;
        }
    }
    .arrow-right {
        display: inline-block;
        vertical-align: middle;
        @include height-width(2px, 13px);
        background-color: $primary-green;
        &::before {
            content: "";
            width: 10px;
            @include position(absolute, -3px, 0, null, 6px);
            border-bottom: 2px solid $primary-green;
            transform: rotate(45deg);
        }
        &::after {
            @extend .arrow-right::before;
            top: unset;
            bottom: -3px;
            transform: rotate(-45deg);
        }
    }
}

.stats {
    text-transform: uppercase;
    width: 600px;
    .stats-list {
        display: inline-block;
        vertical-align: middle;
        max-width: calc((100% - (30px * 2)) / 3);

        .heading {
            color: $primary-green;
        }
        .text-sm {
            color: $dark-grey;
        }
    }
}
