.feature-container {
    margin-bottom: 75px;
    &:nth-of-type(3) {
        margin-bottom: 180px;
        @media (max-width: 767px) {
            margin-bottom: 75px;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
    .feature-img__container {
        width: 400px;
        &.sea-3 {
            @media (min-width: 992px) {
                width: 500px;
            }
        }
        @media (max-width: 991px) {
            width: 350px;
            margin-bottom: 30px;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

.feature-content__container {
    max-width: 330px;
    text-transform: uppercase;
    @media (max-width: 767px) {
        text-align: center;
        margin: auto;
    }
    h6 {
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }
    .heading-xl {
        @extend h6;
    }
    .text-lg {
        line-height: 30px;
        color: $light-bluey-grey;
        text-transform: none;
        @extend h6;
    }
    a {
        color: $primary-green;
        display: inline-block;
        vertical-align: middle;
        transition: 0.3s;
        text-transform: uppercase;
        &:hover {
            margin-right: 15px;
        }
    }
    .arrow-right {
        display: inline-block;
        vertical-align: middle;
        @include height-width(2px, 13px);
        background-color: $primary-green;
        &::before {
            content: "";
            width: 10px;
            @include position(absolute, -3px, 0, null, 6px);
            border-bottom: 2px solid $primary-green;
            transform: rotate(45deg);
        }
        &::after {
            @extend .arrow-right::before;
            top: unset;
            bottom: -3px;
            transform: rotate(-45deg);
        }
    }
}

.stats-container {
    display: flex;
    align-items: flex-end;
    @media (max-width: 767px) {
        display: block;
    }
    .stats-wrapper {
        max-width: 67%;
        @media (max-width: 767px) {
            max-width: 100%;
            margin-bottom: 30px;
        }
        &:last-of-type {
            width: 30%;
            border: 4px solid $primary-green;
            border-radius: 4px;
            height: 280px;
            @media (max-width: 767px) {
                height: 200px;
                width: 100%;
            }
        }
        .heading {
            color: $primary-green;
        }
        .stats-left {
            text-transform: uppercase;
            width: 100%;
            .stats-list {
                display: inline-block;
                vertical-align: top;
                max-width: calc((100% - (30px * 2)) / 3);
            }
        }
        .stats-right {
            @include position(absolute, 50%, null, null, 50%);
            transform: translate(-50%, -50%);
            text-transform: uppercase;
        }
    }
}
