body {
    width: 100%;
    color: $dark-grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    padding: 0 22px;
    margin: 0 auto;
    &-inner {
        @extend .container;
        max-width: 940px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    &,
    li {
        list-style-type: none;
    }
}