@font-face {
    font-family: "Montserrat";
    src: url(/dist/font/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/dist/font/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(/dist/font/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

.heading {
    font-size: 56px;
    line-height: 68px;
    @media (max-width: 767px) {
        font-size: 46px;
        line-height: 1.4;
    }
    @media (max-width: 640px) {
        font-size: 28px;
        line-height: 1.4;
    }
    &-xl {
        font-size: 40px;
        line-height: normal;
        @media (max-width: 991px) {
            font-size: 30px;
            line-height: 1.42;
        }
        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 1.42;
        }
    }
}

.text {
    &-lg {
        font-size: 15px;
        line-height: normal;
        @media (max-width: 640px) {
            font-size: 13px;
            line-height: 1.4;
        }
    }
    &-sm {
        font-size: 12px;
        line-height: normal;
        @media (max-width: 640px) {
            font-size: 10px;
            line-height: 1.4;
        }
    }
}

.fw {
    &-m {
        font-weight: 500;
    }
    &-b {
        font-weight: bold;
    }
}
