.hero-img__container {
    @include height-width(100vh, 100%);
    @include position(fixed, null, auto, null, null);
    max-height: 1400px;
    z-index: -1;
    img {
        @include height-width(100%, 100%);
        @media (max-width: 767px) {
            object-fit: cover;
        }
    }
}

.hero-content {
    color: #fff;
    padding-top: 190px;
    @media (max-width: 767px) {
        padding-top: 110px;
    }
    @media (max-width: 767px) {
        object-fit: cover;
        object-position: right;
    }
    .mb-10 {
        @media (max-width: 640px) and (min-width: 320px) {
            margin-bottom: 40px;
        }
    }
    .hero-content__heading {
        border-bottom: 1px solid #fff;
        display: inline-block;
    }
    .heading {
        max-width: 645px;
    }
    .hero-content__caption {
        display: inline-block;
        vertical-align: middle;
        &.play-icon {
            @include height-width(30px, 30px);
            background: #fff;
            border-radius: 50%;
            &::before {
                content: "";
                @include position(absolute, 9px, null, null, 9px);
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 12px solid #37b3cd;
                border-radius: 3px;
                transform: rotate(-90deg);
            }
        }
    }
}

.hero-footer {
    height: 90px;
    background: #fff;
    border-radius: 4px;
    color: $dark-grey;
    @media (max-width: 991px) {
        height: 70px;
    }
    @media (max-width: 640px) and (min-width: 320px) {
        height: unset;
        padding: 10px;
        text-align: center;
    }
    li {
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;
        @media (max-width: 1024px) {
            padding: 0 60px;
        }
        @media (max-width: 991px) {
            padding: 0 36px;
        }
        @media (max-width: 767px) {
            padding: 0 25px;
        }
        @media (max-width: 640px) and (min-width: 320px) {
            display: list-item;
            margin-bottom: 10px;
        }
        &:last-child {
            width: 230px;
            @media (max-width: 1024px) {
                padding: 0;
            }
            @media (max-width: 991px) {
                width: 170px;
            }
            @media (max-width: 767px) {
                width: 150px;
            }
            @media (max-width: 640px) and (min-width: 320px) {
                width: 100%;
                text-align: center;
                margin-bottom: 0;
            }
        }
        &.right-border {
            border-right: 1px solid $light-grey;
            height: 100%;
            @media (max-width: 1024px) {
                padding: 0;
            }
            @media (max-width: 640px) and (min-width: 320px) {
                display: none;
            }
        }
        label {
            color: $light-bluey-grey;
        }
        &.dropdown {
            .dropdown-btn {
                line-height: inherit;
                background: none;
            }
        }
    }
}
